* { margin: 0; padding: 0; box-sizing: border-box; }
/*body { font: 13px Helvetica, Arial; }*/


#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }


#send_message { background: #000; padding: 3px; width: 100%; }
#send_message input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
#send_message button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }


#join_lobby_div {
	
	padding-left: 20px;
	padding-top: 10px;
	
}

#messages{
	/*top: 0;*/
	overflow-y: scroll;
	/*position: relative;*/
	/*margin-bottom: 50px;*/
}

#send_message { background: #000; padding: 3px; width: 100%; margin-top:auto; }



.playing_area {
	display: none;
	width: 100%;
	margin: auto;
}




/*Opponents CSS*/
#opponents{
	display: flex;
	justify-content: space-evenly;
	padding: 50px;
}

#opponents_div{
	list-style: none;
}

#opponents_li{
	display: inline;
}






/*Center Cards CSS*/
#center_play_area{
	display: flex;
	justify-content: space-evenly;
	padding: 260px;
}



/*Cards CSS*/
#cards_div{
	text-align: center;
	padding: 50px;
}
#cards_ul{
	list-style: none;
}

.cards_li{
	display: inline;
	padding: 20px
}

.cards_li_selected{
	display: inline;
	padding: 20px;
	border-style: solid;
	border-color: blue;
}

a {
	color: black;
}

a:link {
	text-decoration: none;
}

a:hover{
	cursor: pointer;
}







#messaging_div{
	display: flex;
	flex-direction: column;
		
	width: 100%;
	border: 3px;
	height: 20%;
	position: fixed;
	bottom: 0;
}


ul {
    list-style-type: none;
}




.lobby
{
	display: none;
	
}

.messaging
{
	display: none;
}
	
#kitty_selection {
	display: none;
}